In [1]:
from pandas_datareader.data import DataReader
from datetime import datetime
import os
import pandas as pd
import random
import numpy as np
from keras.models import Sequential
from keras.layers.recurrent import LSTM,GRU,SimpleRNN
from keras.layers.core import Dense, Activation, Dropout
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier

Using Theano backend.

In [2]:
random.seed(123)
np.random.seed(123)

loading or downloading the data

In [3]:
def get_data_if_not_exists(force=False):
    if os.path.exists("./data/ibm.csv") and not force:
        return pd.read_csv("./data/ibm.csv")
    else:
        if not os.path.exists("./data"):
            os.mkdir("data")
        ibm_data = DataReader('IBM', 'yahoo', datetime(1950, 1, 1), datetime.today())
        pd.DataFrame(ibm_data).to_csv("./data/ibm.csv")
        return pd.DataFrame(ibm_data).reset_index()

## exploring the data

In [4]:
print "loading the data"
data = get_data_if_not_exists(force=True)
print "done loading the data"

loading the data
done loading the data

In [5]:
print "data columns names: %s"%data.columns.values

data columns names: ['Date' 'Open' 'High' 'Low' 'Close' 'Volume' 'Adj Close']

In [6]:
print data.shape
data

(13729, 7)

,Date,Open,High,Low,Close,Volume,Adj Close
0,1962-01-02,578.499734,578.499734,572.000241,572.000241,387200,2.300695
1,1962-01-03,572.000241,576.999736,572.000241,576.999736,288000,2.320804
2,1962-01-04,576.999736,576.999736,570.999742,571.250260,256000,2.297679
3,1962-01-05,570.500243,570.500243,558.999753,560.000253,363200,2.252429
4,1962-01-08,559.500003,559.500003,545.000267,549.500263,544000,2.210196
5,1962-01-09,552.000010,563.000250,552.000010,555.999756,491200,2.236338
6,1962-01-10,557.000256,559.500003,557.000256,557.000256,299200,2.240362
7,1962-01-11,558.500254,563.000250,558.500254,563.000250,315200,2.264495
8,1962-01-12,563.999999,567.999744,563.999999,563.999999,435200,2.268517
9,1962-01-15,566.000247,567.750013,566.000247,566.499746,251200,2.278571
10,1962-01-16,566.000247,566.000247,560.499752,560.499752,251200,2.254438
11,1962-01-17,558.000004,558.000004,549.999762,551.499760,419200,2.218238
12,1962-01-18,552.999759,558.500254,552.999759,552.999759,371200,2.224272
13,1962-01-19,552.999759,554.499757,546.999764,553.500009,400000,2.226284
14,1962-01-22,553.500009,558.999753,552.000010,552.500260,275200,2.222262
15,1962-01-23,552.249742,552.999759,546.000016,546.999764,371200,2.200138
16,1962-01-24,546.999764,549.999762,544.250250,549.999762,408000,2.212205
17,1962-01-25,549.999762,554.499757,542.999983,543.999767,315200,2.188072
18,1962-01-26,543.999767,546.000016,540.999734,541.250253,243200,2.177013
19,1962-01-29,541.250253,545.000267,531.999743,531.999743,579200,2.139805
20,1962-01-30,531.999743,534.999740,525.249767,525.249767,736000,2.112656
21,1962-01-31,530.499744,542.000234,530.499744,542.000234,760000,2.180029
22,1962-02-01,547.500014,555.999756,547.500014,554.499757,640000,2.230305
23,1962-02-02,554.499757,558.000004,552.000010,558.000004,507200,2.244383
24,1962-02-05,558.000004,558.000004,548.000264,551.000261,312000,2.216229
25,1962-02-06,551.000261,552.000010,549.000013,551.499760,256000,2.218540
26,1962-02-07,552.000010,555.000007,552.000010,552.000010,251200,2.220553
27,1962-02-08,552.000010,555.000007,552.000010,552.500260,16000,2.222565
28,1962-02-09,552.500260,556.500006,549.999762,556.500006,432000,2.238655
29,1962-02-12,556.500006,561.000001,555.999756,557.000256,280000,2.240667
...,...,...,...,...,...,...,...
13699,2016-06-03,152.399994,153.039993,151.699997,152.889999,2328300,152.889999
13700,2016-06-06,153.089996,153.949997,152.339996,152.729996,2378700,152.729996
13701,2016-06-07,153.309998,153.929993,152.660004,153.330002,4465000,153.330002
13702,2016-06-08,153.529999,154.089996,153.039993,154.000000,2935000,154.000000
13703,2016-06-09,152.919998,153.759995,152.729996,153.419998,2021800,153.419998
13704,2016-06-10,152.789993,153.330002,151.860001,152.369995,3120600,152.369995
13705,2016-06-13,151.630005,152.500000,150.279999,151.279999,3610400,151.279999
13706,2016-06-14,151.279999,151.789993,150.399994,151.059998,2865800,151.059998
13707,2016-06-15,151.460007,151.789993,150.600006,150.679993,2260400,150.679993
13708,2016-06-16,150.190002,151.289993,149.000000,151.059998,2449100,151.059998
13709,2016-06-17,150.960007,152.720001,150.600006,151.990005,4663900,151.990005
13710,2016-06-20,152.600006,154.669998,152.520004,153.610001,3572100,153.610001
13711,2016-06-21,154.160004,154.570007,153.690002,154.050003,2760300,154.050003
13712,2016-06-22,153.750000,154.710007,152.270004,152.919998,2833700,152.919998
13713,2016-06-23,153.449997,155.479996,152.600006,155.350006,3969400,155.350006
13714,2016-06-24,149.970001,150.610001,146.179993,146.589996,9082800,146.589996
13715,2016-06-27,146.179993,146.600006,142.500000,143.500000,5017900,143.500000
13716,2016-06-28,144.779999,145.729996,144.220001,145.699997,3997700,145.699997
13717,2016-06-29,146.500000,148.479996,146.449997,148.460007,3367700,148.460007
13718,2016-06-30,148.860001,151.910004,148.669998,151.779999,3967100,151.779999
13719,2016-07-01,151.779999,152.970001,151.399994,152.350006,2658300,152.350006
13720,2016-07-05,151.190002,152.000000,150.759995,151.679993,2465200,151.679993
13721,2016-07-06,151.850006,152.410004,149.919998,152.369995,2569400,152.369995
13722,2016-07-07,152.750000,153.690002,151.889999,152.600006,2138400,152.600006
13723,2016-07-08,154.000000,154.600006,153.080002,154.460007,3040600,154.460007
13724,2016-07-11,154.600006,156.039993,154.500000,155.330002,2833700,155.330002
13725,2016-07-12,156.000000,157.119995,155.520004,157.039993,3843800,157.039993
13726,2016-07-13,157.750000,158.339996,157.059998,158.020004,2746400,158.020004
13727,2016-07-14,158.809998,161.399994,158.580002,160.279999,4588400,160.279999
13728,2016-07-15,159.899994,159.979996,158.500000,159.779999,4468600,159.779999

found out that Adj Close is not the last day close. it's the "true" close of the day.

## preparing the data

In [7]:
for i in range(1,len(data)):
    prev = data.iloc[i-1]
    data.set_value(i,"prev_close",prev["Close"])

In [8]:
data["up/down"] = (data["Close"] - data["prev_close"]) > 0

In [9]:
data["raise_percentage"] = (data["Close"] - data["prev_close"])/data["prev_close"]

In [10]:
data["spread"] = abs(data["High"]-data["Low"])

In [11]:
data["up_spread"] = abs(data["High"]-data["Open"])

In [12]:
data["down_spread"] = abs(data["Open"]-data["Low"])

removing the first record because have no previuse record therefore can't know if up or down

In [13]:
data = data[1:]
data

,Date,Open,High,Low,Close,Volume,Adj Close,prev_close,up/down,raise_percentage,spread,up_spread,down_spread
1,1962-01-03,572.000241,576.999736,572.000241,576.999736,288000,2.320804,572.000241,True,0.008740,4.999495,4.999495,0.000000
2,1962-01-04,576.999736,576.999736,570.999742,571.250260,256000,2.297679,576.999736,False,-0.009964,5.999994,0.000000,5.999994
3,1962-01-05,570.500243,570.500243,558.999753,560.000253,363200,2.252429,571.250260,False,-0.019694,11.500490,0.000000,11.500490
4,1962-01-08,559.500003,559.500003,545.000267,549.500263,544000,2.210196,560.000253,False,-0.018750,14.499736,0.000000,14.499736
5,1962-01-09,552.000010,563.000250,552.000010,555.999756,491200,2.236338,549.500263,True,0.011828,11.000240,11.000240,0.000000
6,1962-01-10,557.000256,559.500003,557.000256,557.000256,299200,2.240362,555.999756,True,0.001799,2.499747,2.499747,0.000000
7,1962-01-11,558.500254,563.000250,558.500254,563.000250,315200,2.264495,557.000256,True,0.010772,4.499996,4.499996,0.000000
8,1962-01-12,563.999999,567.999744,563.999999,563.999999,435200,2.268517,563.000250,True,0.001776,3.999745,3.999745,0.000000
9,1962-01-15,566.000247,567.750013,566.000247,566.499746,251200,2.278571,563.999999,True,0.004432,1.749766,1.749766,0.000000
10,1962-01-16,566.000247,566.000247,560.499752,560.499752,251200,2.254438,566.499746,False,-0.010591,5.500495,0.000000,5.500495
11,1962-01-17,558.000004,558.000004,549.999762,551.499760,419200,2.218238,560.499752,False,-0.016057,8.000242,0.000000,8.000242
12,1962-01-18,552.999759,558.500254,552.999759,552.999759,371200,2.224272,551.499760,True,0.002720,5.500495,5.500495,0.000000
13,1962-01-19,552.999759,554.499757,546.999764,553.500009,400000,2.226284,552.999759,True,0.000905,7.499993,1.499998,5.999995
14,1962-01-22,553.500009,558.999753,552.000010,552.500260,275200,2.222262,553.500009,False,-0.001806,6.999743,5.499744,1.499999
15,1962-01-23,552.249742,552.999759,546.000016,546.999764,371200,2.200138,552.500260,False,-0.009956,6.999743,0.750017,6.249726
16,1962-01-24,546.999764,549.999762,544.250250,549.999762,408000,2.212205,546.999764,True,0.005484,5.749512,2.999998,2.749514
17,1962-01-25,549.999762,554.499757,542.999983,543.999767,315200,2.188072,549.999762,False,-0.010909,11.499774,4.499995,6.999779
18,1962-01-26,543.999767,546.000016,540.999734,541.250253,243200,2.177013,543.999767,False,-0.005054,5.000282,2.000249,3.000033
19,1962-01-29,541.250253,545.000267,531.999743,531.999743,579200,2.139805,541.250253,False,-0.017091,13.000524,3.750014,9.250510
20,1962-01-30,531.999743,534.999740,525.249767,525.249767,736000,2.112656,531.999743,False,-0.012688,9.749973,2.999997,6.749976
21,1962-01-31,530.499744,542.000234,530.499744,542.000234,760000,2.180029,525.249767,True,0.031890,11.500490,11.500490,0.000000
22,1962-02-01,547.500014,555.999756,547.500014,554.499757,640000,2.230305,542.000234,True,0.023062,8.499742,8.499742,0.000000
23,1962-02-02,554.499757,558.000004,552.000010,558.000004,507200,2.244383,554.499757,True,0.006312,5.999994,3.500247,2.499747
24,1962-02-05,558.000004,558.000004,548.000264,551.000261,312000,2.216229,558.000004,False,-0.012544,9.999740,0.000000,9.999740
25,1962-02-06,551.000261,552.000010,549.000013,551.499760,256000,2.218540,551.000261,True,0.000907,2.999997,0.999749,2.000248
26,1962-02-07,552.000010,555.000007,552.000010,552.000010,251200,2.220553,551.499760,True,0.000907,2.999997,2.999997,0.000000
27,1962-02-08,552.000010,555.000007,552.000010,552.500260,16000,2.222565,552.000010,True,0.000906,2.999997,2.999997,0.000000
28,1962-02-09,552.500260,556.500006,549.999762,556.500006,432000,2.238655,552.500260,True,0.007239,6.500244,3.999746,2.500498
29,1962-02-12,556.500006,561.000001,555.999756,557.000256,280000,2.240667,556.500006,True,0.000899,5.000245,4.499995,0.500250
30,1962-02-13,557.000256,557.499754,548.000264,548.000264,256000,2.204463,557.000256,False,-0.016158,9.499490,0.499498,8.999992
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13699,2016-06-03,152.399994,153.039993,151.699997,152.889999,2328300,152.889999,153.500000,False,-0.003974,1.339996,0.639999,0.699997
13700,2016-06-06,153.089996,153.949997,152.339996,152.729996,2378700,152.729996,152.889999,False,-0.001047,1.610001,0.860001,0.750000
13701,2016-06-07,153.309998,153.929993,152.660004,153.330002,4465000,153.330002,152.729996,True,0.003929,1.269989,0.619995,0.649994
13702,2016-06-08,153.529999,154.089996,153.039993,154.000000,2935000,154.000000,153.330002,True,0.004370,1.050003,0.559997,0.490006
13703,2016-06-09,152.919998,153.759995,152.729996,153.419998,2021800,153.419998,154.000000,False,-0.003766,1.029999,0.839997,0.190002
13704,2016-06-10,152.789993,153.330002,151.860001,152.369995,3120600,152.369995,153.419998,False,-0.006844,1.470001,0.540009,0.929992
13705,2016-06-13,151.630005,152.500000,150.279999,151.279999,3610400,151.279999,152.369995,False,-0.007154,2.220001,0.869995,1.350006
13706,2016-06-14,151.279999,151.789993,150.399994,151.059998,2865800,151.059998,151.279999,False,-0.001454,1.389999,0.509994,0.880005
13707,2016-06-15,151.460007,151.789993,150.600006,150.679993,2260400,150.679993,151.059998,False,-0.002516,1.189987,0.329986,0.860001
13708,2016-06-16,150.190002,151.289993,149.000000,151.059998,2449100,151.059998,150.679993,True,0.002522,2.289993,1.099991,1.190002
13709,2016-06-17,150.960007,152.720001,150.600006,151.990005,4663900,151.990005,151.059998,True,0.006157,2.119995,1.759994,0.360001
13710,2016-06-20,152.600006,154.669998,152.520004,153.610001,3572100,153.610001,151.990005,True,0.010659,2.149994,2.069992,0.080002
13711,2016-06-21,154.160004,154.570007,153.690002,154.050003,2760300,154.050003,153.610001,True,0.002864,0.880005,0.410003,0.470002
13712,2016-06-22,153.750000,154.710007,152.270004,152.919998,2833700,152.919998,154.050003,False,-0.007335,2.440003,0.960007,1.479996
13713,2016-06-23,153.449997,155.479996,152.600006,155.350006,3969400,155.350006,152.919998,True,0.015891,2.879990,2.029999,0.849991
13714,2016-06-24,149.970001,150.610001,146.179993,146.589996,9082800,146.589996,155.350006,False,-0.056389,4.430008,0.640000,3.790008
13715,2016-06-27,146.179993,146.600006,142.500000,143.500000,5017900,143.500000,146.589996,False,-0.021079,4.100006,0.420013,3.679993
13716,2016-06-28,144.779999,145.729996,144.220001,145.699997,3997700,145.699997,143.500000,True,0.015331,1.509995,0.949997,0.559998
13717,2016-06-29,146.500000,148.479996,146.449997,148.460007,3367700,148.460007,145.699997,True,0.018943,2.029999,1.979996,0.050003
13718,2016-06-30,148.860001,151.910004,148.669998,151.779999,3967100,151.779999,148.460007,True,0.022363,3.240006,3.050003,0.190003
13719,2016-07-01,151.779999,152.970001,151.399994,152.350006,2658300,152.350006,151.779999,True,0.003755,1.570007,1.190002,0.380005
13720,2016-07-05,151.190002,152.000000,150.759995,151.679993,2465200,151.679993,152.350006,False,-0.004398,1.240005,0.809998,0.430007
13721,2016-07-06,151.850006,152.410004,149.919998,152.369995,2569400,152.369995,151.679993,True,0.004549,2.490006,0.559998,1.930008
13722,2016-07-07,152.750000,153.690002,151.889999,152.600006,2138400,152.600006,152.369995,True,0.001510,1.800003,0.940002,0.860001
13723,2016-07-08,154.000000,154.600006,153.080002,154.460007,3040600,154.460007,152.600006,True,0.012189,1.520004,0.600006,0.919998
13724,2016-07-11,154.600006,156.039993,154.500000,155.330002,2833700,155.330002,154.460007,True,0.005632,1.539993,1.439987,0.100006
13725,2016-07-12,156.000000,157.119995,155.520004,157.039993,3843800,157.039993,155.330002,True,0.011009,1.599991,1.119995,0.479996
13726,2016-07-13,157.750000,158.339996,157.059998,158.020004,2746400,158.020004,157.039993,True,0.006241,1.279998,0.589996,0.690002
13727,2016-07-14,158.809998,161.399994,158.580002,160.279999,4588400,160.279999,158.020004,True,0.014302,2.819992,2.589996,0.229996
13728,2016-07-15,159.899994,159.979996,158.500000,159.779999,4468600,159.779999,160.279999,False,-0.003120,1.479996,0.080002,1.399994

In [14]:
data["up/down"].describe()

count     13728
unique        2
top       False
freq       7043
Name: up/down, dtype: object

In [15]:
MAX_WINDOW = 10

In [16]:
def extract_features(items):
    return [[item[12],item[11],item[10],item[9], 1] if item[8] else [item[12],item[11],item[10],item[9], -1] for item in items]

In [17]:
def extract_expected_result(item):
    return [0, 1] if item[8] else [1, 0]

In [18]:
def generate_input_and_outputs(data):
    step = 1
    inputs = []
    outputs = []
    for i in range(0, len(data) - MAX_WINDOW, step):
        inputs.append(extract_features(data.iloc[i:i + MAX_WINDOW].as_matrix()))
        outputs.append(extract_expected_result(data.iloc[i + MAX_WINDOW].as_matrix()))
    return inputs, outputs

In [19]:
print "generating model input and outputs"
X, y = generate_input_and_outputs(data)
print "done generating input and outputs"

generating model input and outputs
done generating input and outputs

### split the data to train and test

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [21]:
X_train,X_validation,y_train,y_validation = train_test_split(X_train,y_train,test_size=0.2)

## configure the models

In [22]:
models = []

In [23]:
layer_output_size1 = 512
layer_output_size2 = 512
number_of_features = 5
output_classes = len(y[0])
percentage_of_neurons_to_ignore = 0.2

"""
model = Sequential()
model.add(LSTM(layer_output_size1, return_sequences=True, input_shape=(MAX_WINDOW, len(X[0][0]))))
model.add(Dropout(percentage_of_neurons_to_ignore))
model.add(LSTM(layer_output_size2, return_sequences=False))
model.add(Dropout(percentage_of_neurons_to_ignore))
model.add(Dense(output_classes))
model.add(Activation('softmax'))
model.alg_name = "lstm"
model.compile(loss='categorical_crossentropy',metrics=['accuracy'], optimizer='rmsprop')
models.append(model)
"""

model = Sequential()
model.add(GRU(layer_output_size1, return_sequences=True, input_shape=(MAX_WINDOW, len(X[0][0]))))
model.add(Dropout(percentage_of_neurons_to_ignore))
model.add(GRU(layer_output_size2, return_sequences=False))
model.add(Dropout(percentage_of_neurons_to_ignore))
model.add(Dense(output_classes))
model.add(Activation('softmax'))
model.alg_name = "gru"
model.compile(loss='categorical_crossentropy',metrics=['accuracy'], optimizer='rmsprop')
models.append(model)

### training

In [24]:
def trainModel(model):
    epochs = 1
    print "Training model %s"%(model.alg_name)
    model.fit(X_train, y_train, batch_size=128, nb_epoch=epochs,validation_data=(X_validation,y_validation))

### evaluation

In [25]:
def createSplit(model):
    split_model = RandomForestClassifier()
    split_model.fit(model.predict(X_validation), y_validation)
    return split_model

In [26]:
def probabilities_to_prediction(record):
    return [1,0] if record[0]>record[1] else [0,1]

In [29]:
def evaluateModel(model):
    success = 0
    success2 = 0
    predicts = model.predict(X_test)
    split_model = createSplit(model)
    for index, record in enumerate(predicts):
        predicted = list(split_model.predict([np.array(record)])[0])
        predicted2 = probabilities_to_prediction(record)
        expected = y_test[index]
        # print "record",record
        # print "naive model result",predicted
        # print "linear model result",
        # print "expected",expected
        # print "predicted: %s\t expected: %s match: %s" % (predicted, expected, predicted == expected)
        if predicted == expected:
            success += 1
        if predicted2 == expected:
            success2 += 1
    accuracy = float(success) / len(predicts)
    accuracy2 = float(success2) / len(predicts)
    print "The Accuracy for %s is: %s or %s" % (model.alg_name, accuracy, accuracy2)
    return accuracy2

In [30]:
def train_and_evaluate(epochs):
    accuracies = {}
    for i in range(epochs):
        print "Epoch %s"%(i)
        for model in models:
            trainModel(model)
            acc = evaluateModel(model)
            if model.alg_name not in accuracies:
                accuracies[model.alg_name] = []
            accuracies[model.alg_name].append(acc)
    return accuracies

In [31]:
accs = train_and_evaluate(30)

Epoch 0
Training model gru
Train on 8779 samples, validate on 2195 samples
Epoch 1/1
8779/8779 [==============================] - 40s - loss: 0.8597 - acc: 0.4991 - val_loss: 0.7288 - val_acc: 0.4952

ValueError: Number of features of the model must  match the input. Model n_features is 2 and  input n_features is 1

In [ ]:
for algo in accs:
    print "the accuracy for %s is %s"%(algo,sum(accs[algo])/len(accs[algo]))